<!DOCTYPE html>
<html>
  <head>
    <title>ChemPhoPro 2.0</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">ChemPhoPro</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Contact Us
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">E-mail</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header> 
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-wrap">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            <strong style="font-size: 24px; color: #{$white};">MAF1_HUMAN (MAF1)</strong>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
          <div class="accordion-body">
            <ul>
              <li><strong>Description:</strong> Repressor of RNA polymerase III transcription MAF 1 homolog</li>
              <li><strong>UniProt:</strong> MAF1_HUMAN </li>
              <li><strong>Alternative names:</strong> MAF1 </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item2">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            <strong style="font-size: 24px">Phosphosites of Interest</strong>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
          <div class="accordion-body"></div>
            <div class="Perturbagen-table">
              <!-- <h2>Perturbagens ({{ perturbagen_count }})</h2> -->
              <table id="perturbagensTable" class="table table-hover">
                  <thead>
                      <tr>
                          <th>Position</th>
                          <th>Residue</th>
                          <th>Detected in</th>
                          <th>Reported Substrate of</th>
                          <th>PDT of</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.3/bokeh.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.3/bokeh-widgets.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.3/bokeh-tables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.3/bokeh-api.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.3/bokeh-mathjax.min.js"></script>
  <script>
    $(document).ready(function() {
      var dataTable = $('#perturbagensTable').DataTable();
      $('#searchInput').on('input', function() {
        dataTable.search(this.value).draw();
      });
    });
  
    $(document).ready(function() {
      var dataTable = $('#pdtTable_MCF-7').DataTable();
      $('#searchInput').on('input', function() {
        dataTable.search(this.value).draw();
      });
    });
  
    $(document).ready(function() {
      var dataTable = $('#pdtTable_HL-60').DataTable();
      $('#searchInput').on('input', function() {
        dataTable.search(this.value).draw();
      });
    });
  
    $(document).ready(function() {
      var dataTable = $('#pdtTable_NTERA-2 clone D1').DataTable();
      $('#searchInput').on('input', function() {
        dataTable.search(this.value).draw();
      });
    });
  
  </script>
 <body>
<html>